:root {
  --heading-font: "Playfair Display", serif;
  --main-font: "Poppins", sans-serif;
  --primary-color: #800080;
  --secondary-color: #f5f2f7;
  --detail-color: #272142;
}

body {
  font-family: var(--main-font);
  line-height: 1.5;
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading-font);
  font-weight: bold;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 24px;
  font-weight: normal;
  line-height: 2;
}

p {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
}

.hero {
  background-color: var(--secondary-color);
  padding: 160px 20px;
  text-align: center;
}

.hero h2 {
  color: var(--detail-color);
  font-family: var(--main-font);
  font-size: 36px;
}

.btn-branding {
  background-color: var(--primary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  padding: 15px 30px;
  transition: all 100ms ease-in-out;
}

.btn-branding:hover {
  background-color: var(--primary-color);
  color: white;
  opacity: 0.8;
}

.btn-outline {
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  color: var(--primary-color);
  font-size: 18px;
  padding: 15px 30px;
  transition: all 100ms ease-in-out;
}

.btn-outline:hover {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  opacity: 0.8;
}

.project-description {
  padding: 40px 20px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 44px;
  }

  h3 {
    font-size: 18px;
  }

  .hero {
    padding: 80px 20px;
  }

  .hero h2 {
    font-size: 24px;
  }

  .project-description {
    padding: 0 15px;
    text-align: center;
  }
}