:root {
  --heading-font: "Playfair Display", serif;
  --main-font: "Poppins", sans-serif;
  --primary-color: #800080;
  --secondary-color: #f5f2f7;
  --detail-color: #272142;
  --box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
}

body {
  font-family: var(--main-font);
  line-height: 1.5;
  margin: 0;
}

nav {
  padding: 15px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  line-height: 42px;
  list-style: none;
  margin-left: 15px;
}

a {
  color: var(--detail-color);
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

a:hover,
nav li.active a {
  color: var(--primary-color)
}

nav img {
  max-height: 40px;
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
  font-weight: bold;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 48px;
}

h4 {
  font-size: 24px;
  font-weight: normal;
  line-height: 2;
}

p {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
}

footer .contact-box {
  background: var(--secondary-color);
  border-radius: 10px;
  padding: 30px 120px;
}

footer .email-link {
  font-size: 24px;
}

footer .social-links a {
  background: var(--secondary-color);
  border-radius: 50%;
  color: var(--primary-color);
  font-size: 18px;
  margin: 0 20px;
  padding: 10px 13px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
}


.hero {
  background-color: var(--secondary-color);
  padding: 80px 20px;
  text-align: center;
}

.hero h2 {
  color: var(--detail-color);
  font-family: var(--main-font);
  font-size: 36px;
}

.btn-branding {
  background-color: var(--primary-color);
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  color: white;
  font-size: 18px;
  padding: 15px 30px;
  transition: all 100ms ease-in-out;
}

.btn-branding:hover {
  background-color: var(--primary-color);
  color: white;
  opacity: 0.8;
}

.btn-outline {
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  color: var(--primary-color);
  font-size: 18px;
  padding: 15px 30px;
  transition: all 100ms ease-in-out;
}

.btn-outline:hover {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  opacity: 0.8;
}

.project-description {
  padding: 40px 20px;
}

.content-container {
  padding: 60px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-family: var(--main-font);
  font-size: 24px;
}

.content h3 {
  font-size: 18px;
  font-weight: bold;
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 44px;
  }

  h4 {
    font-size: 18px;
  }

  .hero {
    padding: 80px 20px;
  }

  .hero h2 {
    font-size: 24px;
  }

  .project-description {
    padding: 0 15px;
    text-align: center;
  }

  .content {
    padding: 0;
    text-align: center;
  }
}